
*{
    margin:0;
    padding: 0;
}


body{
    margin: 0 auto;
}
/* menu */

.fundo-header{
    display: flex;
    flex-direction: column;
    background-image: url('../img/fundo-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}


nav{
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    padding: 10px 20px;
    width: 70vw;
    background: #F8F8FF;
    border-radius: 3px;
    
}

nav .brand{
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
}

nav .brand  a  {
    text-decoration: none;
    list-style: none;
    border: 2px solid #000;
    padding: 5px;
    color: #000;
}




nav .menu {
    display: flex;
    justify-content: center;
}

nav .menu li{
    padding: 10px;
    list-style: none;
}





nav .menu li a{
    text-decoration: none;
    list-style: none;
    color: #BEBEBE;
}



nav .search{
    display: flex;
    justify-content: center;
}

nav .search li{
    list-style: none;
    padding: 10px;
}

nav .search li a{
    text-decoration: none;
    color: #1E90FF;
}

/* header board */

.header-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.header-board h2{
    color: #fff;
    text-shadow: 3px 1px 0px rgba(150, 150, 150, 1);
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 1rem;
}
.header-board p{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}


/* button  header */
.group-button{
    margin-top: 20px;
}

.see-more{
    background: #0275db;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 2px;
}

.purchase{
    background: #fff;
    color: #0275db;
    padding: 8px;
    border: none;
    border-radius: 2px;
}   


/* about header */

.header-about{
    display: flex;
    justify-content: space-around;
    width: 70vw;
    height: 12vw;
    margin: 60px auto;
}

.header-about .about{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.header-about .square{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0275db;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    text-align: center;
}

.header-about .squareblack{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    text-align: center;
}


.header-about .circle{
    background-color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 40px;
    height: 45px;
}

.header-about .circle i{
    text-align: center;
    padding: 13px;
    color: #0275db
}


.header-about h3{
    margin-top: 15px;
}
.header-about p{
    margin-top: 10px;
    text-align: center;
    color: gray;
}

/* recent works */

main{
    background-color: lightgrey;
    height: 45vh;
}

main .recent-work{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
 
}

main .recent-work p {
    font-size: 10px;
    margin-top: 20px;
}
main .recent-work i {
    margin-top: 10px;
    color: #0275db;
}

main .recent-images{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .recent-images img{
    width: 100%;
}

main .recent-images img .bottom-right{
        position: absolute;
        top: 5;
        left: 3;
        width: 100%;
        height: 100%;
}

 /* articles */

.card{
    display: flex;
    flex-direction: column;
    margin-top: 20px ;
    /* border: 1px solid gray; */
    width: 26vw;
    height: 25vh;
}

.border{
    border: 1px solid gray;
}

.card .card-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #0275db;
    
}

.card .card-header span{
    background-color: gray;
    width: 2vw;
    height: 4vh;
    text-align: center;
    margin-right: 10px;
    color: darkgray;
}

.card .card-body{
    display: flex;
}

.card .card-body img{
    width: 10vw;
    padding: 10px;
}
.card .card-body p{
    padding: 10px;
}

.card .card-footer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-top: 1px solid lightgray;
    color: gray;
}

.card .card-footer span{
    background-color: gray;
    width: 2vw;
    height: 4vh;
    text-align: center;
    margin-right: 10px;
    color: darkgray;
}



.main-about{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 60px;
    
}

.marginleft{
    margin-left: 20px;
}
.progress-bar{
    padding: 1px;
    margin-bottom: 18px;   
    
}
.progress-bar .fundo{
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray
}




.progress-bar .fundo span{
    margin-right: 5px ;
}
.progress-bar .frente{
    height: 4vh;
    display: flex;
    align-items: center;
    background-color:#0275db;
}

.frente-web-design{
        height: 4vh;
        width: 198px;
        display: flex;
        align-items: center;
        background-color:#0275db;
}

.progress-bar .frente-web-design i{
    color: #fff;
    padding: 0  9px;
}

.frente-application{
    height: 4vh;
    width: 310px;
    display: flex;
    align-items: center;
    background-color:#0275db;
}

.progress-bar .frente-application i{
color: #fff;
padding: 0  9px;
}


.frente-development{
    height: 4vh;
    width: 230px;
    display: flex;
    align-items: center;
    background-color:#0275db;
}

.progress-bar .frente-development i{
color: #fff;
padding: 0  9px;
}

.frente-html{
    height: 4vh;
    width: 100px;
    display: flex;
    align-items: center;
    background-color:#0275db;
}

.progress-bar .frente-html i{
color: #fff;
padding: 0  9px;
}


.card-headerr{
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px solid lightgray;
}
.box-left{
    display: flex;
}
.box-left img{
    width: 40px;
    padding: 8px 10px;
    border-radius: 50%;
}
.box-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
    font-size: 14px;
}
.box-information h4{
    color: #0275db;
}
.box-rigth{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.box-rigth .box-rigth-chrevon-left{
    background-color: #fff;
    padding: 5px;
    margin-right: 10px;
    border-radius: 20px;
}

.box-rigth .box-rigth-chrevon-left p {
    color: gray;
    font-size: 18px;
    font-weight: 200;
}

.box-rigth .box-rigth-chrevon-rigth{
    background-color:#0275db; ;
}
.box-rigth .box-rigth-chrevon-rigth{
    background-color: #0274db;
    padding: 5px;
    margin-right: 10px;
    border-radius: 20px;
}

.box-rigth .box-rigth-chrevon-rigth p {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
}

.card-body-text{
    color: gray;
    padding: 10px 10px;
    text-align: justify;
    font-style: 10px;
}

/* fundo-parte-celular */
.article-cel{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 60vh;
    background-color: #E6E6FA 
}
.article-cel .article-cel-left{
    display: flex;
    width: 40vw;
    height: 30vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
    padding: 0 30px;
}
.article-cel .article-cel-left h3{
    margin-top: 30px;
   margin-bottom: 30px; 
   font-size: 26px;
   font-weight: 500;

}

.article-cel .article-cel-left p{
    margin-bottom: 30px; 
    font-weight: 500;
    color: gray;
 }

 .article-cel .article-cel-left ul{
     list-style: none;
     color: gray;
     margin-bottom: 20px;
 }
 .article-cel .article-cel-left i{
    color: #0275db;
}

 .article-cel .article-cel-left li{
    padding: 5px;
}
.article-cel .article-cel-left button{
    
        background: #0275db;
        color: #fff;
        padding: 8px;
        border: none;
        border-radius: 2px;
        width: 150px;
}


