::root {
    --cor-font: #00BFFF
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

/* menu */

.fundo-header {
    display: flex;
    flex-direction: column;
    background-image: url('../img/fundo-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}

nav {
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    padding: 10px 20px;
    width: 70vw;
    background: #F8F8FF;
    border-radius: 3px;
}

nav .brand {
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
}

nav .brand a {
    text-decoration: none;
    list-style: none;
    border: 2px solid #000;
    padding: 5px;
    color: #000;
}

nav .menu {
    display: flex;
    justify-content: center;
    opacity: 0.7;
}

nav .menu li {
    padding: 10px;
    list-style: none;
}

nav .menu li:hover {
    border-top: 1px solid #1E90ff;
}

nav .menu .active {
    color: #000;
    border-top: 1px solid #1E90ff;
}

nav .menu li a {
    text-decoration: none;
    list-style: none;
    color: #8B8682;
}

nav .menu li a:hover {
    text-decoration: none;
    list-style: none;
    color: #000;
}

nav .search {
    display: flex;
    justify-content: center;
}

nav .search li {
    list-style: none;
    padding: 10px;
}

.language {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px 5px 0 5px;
    color: #8B8682
}

nav .search li a {
    text-decoration: none;
    color: #1E90ff;
}

nav .search li a img {
    width: 20px;
    height: 16px;
}

nav .search li i {
    padding: 0px;
    text-align-last: center;
}

li a, .dropbtn {
    color: white;
    text-align: center;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    background-color: lightgray;
    text-align: center;
    width: 40px;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a img {
    padding: 5px 10px;
    width: 40px;
    height: 40px;
}

.dropdown-content a:hover {}

.dropdown:hover .dropdown-content {
    display: block;
}

/* header board */

.header-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.header-board h2 {
    color: #fff;
    text-shadow: 3px 1px 0px rgba(150, 150, 150, 1);
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 1rem;
}

.header-board p {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

/* button  header */

.group-button {
    margin-top: 20px;
}

.see-more {
    background: #0275db;
    color: #fff;
    padding: 12px 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.purchase {
    background: #fff;
    color: #0275db;
    padding: 12px 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/* about header */

.header-about {
    display: flex;
    justify-content: space-around;
    width: 70vw;
    height: 12vw;
    margin: 60px auto;
}

.header-about .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.header-about .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0275db;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    text-align: center;
}

.header-about .squareblack {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    text-align: center;
}

.header-about .circle {
    background-color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 40px;
    height: 45px;
}

.header-about .circle i {
    text-align: center;
    padding: 13px;
    color: #0275db
}

.header-about h3 {
    margin-top: 15px;
}

.header-about p {
    margin-top: 10px;
    text-align: center;
    color: gray;
}

/* recent works */

main {
    background-color: lightgrey;
    background-attachment: fixed;
    /* height: 45vh; */
}

main .recent-work {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

main .recent-work p {
    font-size: 10px;
    margin-top: 20px;
}

main .recent-work i {
    margin-top: 10px;
    color: #0275db;
}

main .recent-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .recent-images img {
    width: 100%;
}

main .recent-images img:hover {
    opacity: 0.7;
}

/* modal */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

main .recent-images img .bottom-right {
    position: absolute;
    top: 5;
    left: 3;
    width: 100%;
    height: 100%;
}

/* articles */

.card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* border: 1px solid gray; */
    width: 26vw;
    height: 25vh;
}

.border {
    border: 1px solid lightgray;
}

.card .card-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color: #0275db;
}

.card .card-header span {
    background-color: gray;
    width: 2vw;
    height: 4vh;
    text-align: center;
    margin-right: 10px;
    color: darkgray;
}

.card .card-body {
    display: flex;
}

.card .card-body img {
    width: 10vw;
    padding: 10px;
}

.card .card-body p {
    padding: 10px;
}

.card .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-top: 1px solid lightgray;
    color: gray;
}

.card .card-footer span {
    background-color: gray;
    width: 2vw;
    height: 4vh;
    text-align: center;
    margin-right: 10px;
    color: darkgray;
}

.main-about {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 30px;
    margin-bottom: 60px;
}

.marginleft {
    margin-left: 20px;
}

.progress-bar {
    padding: 1px;
    margin-bottom: 18px;
}

.progress-bar .fundo {
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray
}

.progress-bar .fundo span {
    margin-right: 5px;
}

.progress-bar .frente {
    height: 4vh;
    display: flex;
    align-items: center;
    background-color: #0275db;
}

.frente-web-design {
    height: 4vh;
    width: 198px;
    display: flex;
    align-items: center;
    background-color: #0275db;
}

.progress-bar .frente-web-design i {
    color: #fff;
    padding: 0 9px;
}

.frente-application {
    height: 4vh;
    width: 310px;
    display: flex;
    align-items: center;
    background-color: #0275db;
}

.progress-bar .frente-application i {
    color: #fff;
    padding: 0 9px;
}

.frente-development {
    height: 4vh;
    width: 230px;
    display: flex;
    align-items: center;
    background-color: #0275db;
}

.progress-bar .frente-development i {
    color: #fff;
    padding: 0 9px;
}

.frente-html {
    height: 4vh;
    width: 100px;
    display: flex;
    align-items: center;
    background-color: #0275db;
}

.progress-bar .frente-html i {
    color: #fff;
    padding: 0 9px;
}

.card-headerr {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px solid lightgray;
}

.box-left {
    display: flex;
}

.box-left img {
    width: 40px;
    padding: 8px 10px;
    border-radius: 50%;
}

.box-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
    font-size: 14px;
}

.box-information h4 {
    color: #0275db;
}

.box-rigth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.box-rigth .box-rigth-chrevon-left {
    background-color: #fff;
    padding: 5px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.box-rigth .box-rigth-chrevon-left p {
    color: gray;
    font-size: 18px;
    font-weight: 200;
}

.box-rigth .box-rigth-chrevon-rigth {
    background-color: #0275db;
    ;
}

.box-rigth .box-rigth-chrevon-rigth {
    background-color: #0274db;
    padding: 5px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.box-rigth .box-rigth-chrevon-rigth p {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
}

.card-body-text {
    color: gray;
    padding: 10px 10px;
    text-align: justify;
    font-style: 10px;
}

/* fundo-parte-celular */

.article-cel {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 60vh;
    background-color: #E6E6FA
}

.article-cel .article-cel-left {
    display: flex;
    width: 40vw;
    height: 30vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
    padding: 0 30px;
}

.article-cel .article-cel-left h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 500;
}

.article-cel .article-cel-left p {
    margin-bottom: 30px;
    font-weight: 500;
    color: gray;
}

.article-cel .article-cel-left ul {
    list-style: none;
    color: gray;
    margin-bottom: 20px;
}

.article-cel .article-cel-left i {
    color: #0275db;
}

.article-cel .article-cel-left li {
    padding: 5px;
}

.article-cel .article-cel-left button {
    background: #0275db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 2px;
    width: 150px;
}

/* posts */

.posts {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.posts p {
    font-size: 10px;
    margin-top: 20px;
}

.posts i {
    margin-top: 10px;
    color: #0275db;
}

.card-post {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* border: 1px solid gray; */
    width: 20vw;
    height: 60vh;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid gray; */
}

.card-header-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 40vh;
    width: 20vw;
}

.card-header-posts3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 40vh;
    width: 20vw;
}

.card-header-posts3 span {
    padding: 10px;
    margin-top: 15px;
    text-align-last: center;
    color: #fff;
    background-color: #0275db;
}

.card-header-posts3 .left-content-video {
    margin-top: 30px;
    margin-left: 110px;
}

.card-header-posts3 .left-content-video i {
    background-color: #fff;
    padding: 10px;
    color: #0275db;
}

.card-header-posts span {
    padding: 10px;
    margin-top: 15px;
    text-align-last: center;
    color: #fff;
    background-color: #0275db;
}

.more-content {
    display: flex;
    align-items: center;
    margin-left: 190px;
    margin-bottom: 5px;
}

.more-content .left-content {
    background-color: #fff;
    color: gray;
    margin-right: 5px;
    cursor: pointer;
}

.more-content .left-content i {
    padding: 2px 12px
}

.more-content .right-content {
    background-color: #0275db;
    color: #fff;
    cursor: pointer;
}

.more-content .right-content i {
    padding: 2px 12px;
}

.more-content-video {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 0;
}

.fundo1-posts {
    background-image: url('../img/paisagem.jpg');
    background-size: cover;
}

.fundo2-posts {
    background-image: url('../img/fundonews.jpg');
    background-size: cover;
}

.fundo3-posts {
    background-image: url('../img/fundonews3.jpg');
    background-size: cover;
}

.card-body-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.card-body-post h3 {
    font-size: 20px;
    font-weight: 400;
}

.card-body-post h4 {
    font-size: 12px;
    color: gray;
}

.card-body-post p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400px;
    color: gray;
}

.card-footer-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    background-color: lightgray;
    height: 10vh;
}

.left-posts-like {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.left-posts-like .heart {
    background-color: #fff;
    color: gray;
    text-align: center;
    cursor: pointer;
}

.left-posts-like .heart i {
    padding: 5px
}

.left-posts-like .heart i:hover {
    color: red;
}

.left-posts-like .comments {
    background-color: #fff;
    color: gray;
    text-align: center;
    margin-left: 3px;
}

.left-posts-like .comments i {
    padding: 5px
}

.left-posts-like .comments i:hover {
    color: darkgray;
}

.more-posts-like {
    margin-right: 20px;
}

.more-posts-like .more {
    background-color: #fff;
    color: gray;
    text-align: center;
    padding: 3px 8px;
    cursor: pointer;
}

.more-posts-like .more:hover {
    background-color: #0275db;
    ;
    color: #fff;
    padding: 3px 8px;
}

.more-posts-like .more i {
    padding: 0 5px;
}

.more-posts-like .moreBlue {
    background-color: #0275db;
    ;
    color: #fff;
    padding: 3px 8px;
    cursor: pointer;
}

.more-posts-like .moreBlue i {
    padding: 0 5px;
}

/* project galery */

.project-galery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    background-color: #1C1C1C;
}

.project-galery-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 20px;
}

.project-galery-left img {
    height: 70vh;
    width: 40vw;
}

.project-galery .project-galery-left .imgs-slider {
    display: flex;
    background-color: #363636;
    margin-bottom: 80px;
}

.project-galery .project-galery-left .imgs-slider img {
    overflow: hidden;
    border-radius: 50%;
    height: 58px;
    object-fit: cover;
    width: 58px;
    padding: 10px;
    cursor: pointer;
}

.tim {
    border: 2px solid #1C1C1C;
    ;
    border-radius: 150px;
    width: 58px;
    height: 58px;
    background-image: url('../img/imagem_perfil.png');
    background-position: center;
    background-size: cover;
    background-color: #C0C0C0;
    padding: 3px;
    margin: 9px 3px 5px 5px;
}

.tim2 {
    border: 2px solid #1C1C1C;
    ;
    border-radius: 150px;
    width: 58px;
    height: 58px;
    background-image: url('../img/team1.jpg');
    background-position: center;
    background-size: cover;
    background-color: #C0C0C0;
    padding: 3px;
    margin: 9px 3px 5px 5px;
}

.tim3 {
    border: 2px solid #1C1C1C;
    ;
    border-radius: 150px;
    width: 58px;
    height: 58px;
    background-image: url('../img/team2.jpg');
    background-position: center;
    background-size: cover;
    background-color: #C0C0C0;
    padding: 3px;
    margin: 9px 3px 5px 5px;
}

.tim4 {
    border: 2px solid #1C1C1C;
    ;
    border-radius: 150px;
    width: 58px;
    height: 58px;
    background-image: url('../img/team3.jpg');
    background-position: center;
    background-size: cover;
    padding: 3px;
    margin: 9px 3px 5px 5px;
}

.tim5 {
    border: 2px solid #1C1C1C;
    ;
    border-radius: 150px;
    width: 58px;
    height: 58px;
    background-image: url('../img/team4.jpg');
    background-position: center;
    background-size: cover;
    background-color: #C0C0C0;
    padding: 3px;
    margin: 9px 3px 5px 5px;
}

.tim6 {
    border: 2px solid #1C1C1C;
    ;
    border-radius: 150px;
    width: 58px;
    height: 58px;
    background-image: url('../img/garotapunk.jpg');
    background-position: center;
    background-size: cover;
    background-color: #C0C0C0;
    padding: 3px;
    margin: 9px 3px 5px 5px;
}

.tim7 {
    border: 2px solid #1C1C1C;
    ;
    border-radius: 150px;
    width: 58px;
    height: 58px;
    background-image: url('../img/empresario.jpg');
    background-position: center;
    background-size: cover;
    background-color: #C0C0C0;
    padding: 3px;
    margin: 9px 3px 5px 5px;
}

.project-galery-rigth {
    color: #fff;
    margin-top: 30px;
}

.project-galery-rigth h2 {
    font-size: 20px;
}

.project-galery-rigth p {
    margin-top: 20px;
    padding-right: 50px;
    text-align: left;
    font-size: 16px;
    color: #8B8682;
}

.project-galery .box-gallery-up {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 16px;
}

.project-galery .box-gallery-down {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 16px;
}

.project-galery .see-moree {
    background: #0275db;
    color: #fff;
    padding: 14px 16px;
    border: none;
    border-radius: 2px;
}

/* the team */

.team-workes {
    background-color: lightgray;
    margin-top: 0;
    margin-bottom: 20px;
}

.cards-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding-bottom: 40px;
}

.team {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.team p {
    font-size: 16px;
    margin-top: 20px;
}

.team i {
    margin-top: 10px;
    color: #0275db;
}

.team1 {
    background-image: url('../img/team1.jpg');
    background-size: cover;
}

.team2 {
    background-image: url('../img/team2.jpg');
    background-size: cover;
}

.team3 {
    background-image: url('../img/team3.jpg');
    background-size: cover;
}

.team4 {
    background-image: url('../img/team4.jpg');
    background-size: cover;
}

.card-header-team {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 40vh;
    width: 15vw;
}

.triangle-topleft {
    position: relative;
    top: 40px;
    left: 10px;
    height: 0;
    border-top: 20px solid #0275db;
    border-right: 30px solid transparent;
}

.card-header-team .team-name {
    background-color: #0275db;
    width: 100%;
}

.card-header-team .team-name h3 {
    font-size: 16px;
    color: #fff;
    padding: 5px;
    margin-left: 10px;
}

.card-header-team .social-bar {
    padding: 5px;
    margin-left: 30px;
    width: 60%;
}

.card-header-team .social-bar ul {
    display: flex;
    padding: 5px
}

.card-header-team .social-bar ul li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

.card-header-team .social-bar ul li i {
    background-color: #CFCFCF;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    color: #0275db;
}

.card-header-team .social-bar .active {
    background-color: #fff;
    color: #0275db;
}

/* prices */

.table-prices {
    margin-top: 40px;
}

.table {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.table p {
    font-size: 16px;
    margin-top: 20px;
}

.table i {
    margin-top: 10px;
    color: #0275db;
}

.cards-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.cards-price .cards-prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60vh;
    width: 20vw;
}

.card-header-prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    background-color: #CFCFCF;
}

.card-header-prices .text-price1 {
    font-size: 50px;
    margin-top: 10px;
}

.card-header-prices .text-price2 {
    font-size: 16px;
    margin-top: 10px;
}

.card-header-prices .text-price3 {
    font-size: 14px;
    margin-bottom: 32px;
}

.card-header-prices span {
    font-size: 20px;
}

.card-header-prices i {
    font-size: 20px;
}

.name-price {
    background-color: #0275db;
    width: 60%;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -4%;
    color: #fff;
}

.name-price2 {
    background-color: #FA8072;
    width: 60%;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -4%;
    color: #fff;
}

.name-price3 {
    background-color: #3CB371;
    width: 60%;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -4%;
    color: #fff;
}

.card-body-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    /* height: 20vh; */
}

.card-body-price ul {
    list-style: none;
}

.card-body-price ul li {
    margin-bottom: 20px;
    color: gray;
    font-weight: 800;
}

.footer-price {
    background-color: #CFCFCF;
    width: 90%;
    margin: 0 10px;
    text-align: center;
}

.footer-price h3 {
    color: #8B8682;
    font-weight: 800;
    padding: 2px
}

.footer-price h3:hover {
    color: #000;
}

/* banner */

.banner {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
    padding: 40px;
}

.banner h2 {
    font-weight: 600;
}

.banner button {
    border: 2px solid #000;
    padding: 8px 15px;
    color: #000;
    font-weight: 800;
    cursor: pointer;
}

.banner-information {
    background: rgb(0, 0, 1);
    background: linear-gradient(15deg, rgba(0, 0, 1, 1) 5%, rgba(0, 0, 1, 0.989233193277311) 35%, rgba(9, 9, 25, 1) 100%);
    display: flex;
    justify-content: center;
    color: #fff;
}

.banner-information .checked {
    text-align: center;
    margin: 20px 100px 60px 0;
    padding: 5px;
}

.banner-information .checked i {
    color: #1E90FF;
    font-size: 48px;
    margin-bottom: 16px;
}

.banner-information .checked p {
    font-size: 14px;
    color: #8B8682;
    margin-bottom: 10px;
}

.banner-information .checked h2 {
    font-size: 48px;
}

.banner-information .coffe {
    text-align: center;
    margin: 20px 100px 60px 0;
    padding: 5px;
}

.banner-information .coffe i {
    color: #FF6A6A;
    font-size: 48px;
    margin-bottom: 16px;
}

.banner-information .coffe p {
    font-size: 14px;
    color: #8B8682;
    margin-bottom: 10px;
}

.banner-information .coffe h2 {
    font-size: 48px;
}

.banner-information .heart {
    text-align: center;
    margin: 20px 100px 60px 0;
    padding: 5px;
}

.banner-information .heart i {
    color: #FFAEB9;
    font-size: 48px;
    margin-bottom: 16px;
}

.banner-information .heart p {
    font-size: 14px;
    color: #8B8682;
    margin-bottom: 10px;
}

.banner-information .heart h2 {
    font-size: 48px;
}

.banner-information .engine {
    text-align: center;
    margin: 20px 0 60px 0;
    padding: 5px;
}

.banner-information .engine i {
    color: #66CDAA;
    font-size: 48px;
    margin-bottom: 16px;
}

.banner-information .engine p {
    font-size: 14px;
    color: #8B8682;
    margin-bottom: 10px;
}

.banner-information .engine h2 {
    font-size: 48px;
}

/* conect */

.table-conect {
    background-color: #CFCFCF;
}

.conect {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.conect p {
    font-size: 10px;
    margin-top: 30px;
}

.conect i {
    margin-top: 5px;
    color: #0275db;
}

.get-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.get-social .get-social-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.get-social .get-social-up .huge-design1 {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    color: #000;
    padding: 20px;
    width: 300px;
}

.get-social .get-social-up .huge-design1:hover {
    background-color: #0274db;
    color: #FFF;
}

.get-social .get-social-up .huge-design1 i {
    margin-right: 120px;
    opacity: 0.6;
    font-size: 20px;
}

.get-social .get-social-up .huge-pinterest {
    display: flex;
    justify-content: space-between;
    background-color: red;
    align-items: center;
    color: #fff;
    padding: 20px;
    margin-left: 20px;
    margin-right: 24px;
    width: 300px;
}

.get-social .get-social-up .huge-pinterest i {
    margin-right: 160px;
}

.get-social .get-social-down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.get-social .get-social-down .huge-design3 {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    color: #000;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
}

.get-social .get-social-down .huge-design3:hover {
    background-color: #0274db;
    color: #FFF;
}

.get-social .get-social-down .huge-design3 i {
    margin-right: 160px;
    opacity: 0.6;
    font-size: 20px;
}

/* carousel */

.carousel-brands {
    display: flex;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.carousel-brands .item {
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 10px;
    height: 80px;
    padding: 0;
}

.carousel-brands .item img {
    width: 80px;
    height: 60px;
    display: flex;
    padding: 0;
    opacity: 0.6;
}

.carousel-brands .item img:hover {
    opacity: 1;
}

.fundo-rodape {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.fundo-rodape img {
    width: 600px;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    background-color: #1C1C1C;
}

.footer .footer-left1 {
    margin-bottom: 50px;
    margin-left: 14px;
}

.footer .footer-left1 h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #6495ED;
}

.footer .footer-left1 .painel {
    display: flex;
    margin-bottom: 30px;
}

.footer .footer-left1 .painel img {
    border: 3px solid #8B8682;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 3px;
}

.footer .footer-left1 .painel .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    padding: 0 3px;
    font-size: 12px;
    cursor: pointer;
}

.footer .footer-left1 .painel .text span {
    color: #8B8682;
    padding: 2px;
    font-size: 9px;
    margin-bottom: 2px;
}

.footer .footer-left1 .painel .text hr {
    border: 1px solid darkgray;
}

.footer .footer-left1 .line {
    display: flex;
    margin-right: 30px;
    margin-bottom: 10px;
    color: #8B8682;
}

.footer .footer-left1 .line span {
    background-color: #1C1C1C;
    border: 1px solid #8B8682;
    color: #8B8682;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 10px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.footer .footer-left1 .line span:hover {
    background-color: #00BFFF;
    color: #fff;
}

.footer .footer-left1 .painel ul {
    color: gray;
    list-style: none;
    margin-right: 148px;
    font-size: 13px;
    cursor: pointer;
}

.footer .footer-left1 .painel ul li {
    margin-bottom: 20px;
    /* border-bottom: 1px solid gray; */
}

.footer .footer-left1 .painel ul li:hover {
    color: #fff;
}

.footer .footer-left1 .painel ul li hr {
    border-bottom: 1px solid gray;
    margin-top: 10px;
    width: 140px;
    color: dark gray;
}

.footer .footer-right {
    background-color: #363636;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 30vw;
}

.footer .footer-right .footer-right1 {
    display: flex;
    flex-direction: column;
}

.footer .footer-right h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #6495ED;
}

.footer .footer-right p {
    margin-right: 150px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #8B8682;
}

.footer .footer-right .social-medias {
    display: flex;
    margin-bottom: 40px;
    list-style: none;
    cursor: pointer;
}

.footer .footer-right .social-medias li {
    font-size: 14px;
    padding: 8px;
    margin-right: 5px;
    background-color: #363636;
    border-radius: 50%;
    border: 1px solid #8B8682;
    color: #8B8682;
}

.footer .footer-right .social-medias li:hover {
    background-color: #00BFFF;
    color: #fff;
}

.footer .footer-right .buttons-medias button {
    font-size: 14px;
    border-radius: 30px;
    padding: 8px 15px;
    border: 1px solid #8B8682;
    color: #8B8682;
    background-color: #363636;
    margin-right: 5px;
    cursor: pointer;
}

.footer .footer-right .buttons-medias button:hover {
    background-color: #00BFFF;
    color: #fff;
}

.back {
    position: relative;
    top: 430px;
    left: 20px;
    background-color: #00BFFF;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.back i {
    padding: 8px;
    text-align: center;
    color: #fff;
}

.footer-final {
    background-color: #4F4F4F;
    display: flex;
    justify-content: space-between;
    color: #8B8682;
}

.footer-final .footer-menu ul {
    display: flex;
    margin-left: 45px;
    list-style: none;
    padding: 20px;
}

.footer-final .footer-menu ul li {
    padding: 5px;
}

.footer-final .footer-menu ul li:hover {
    padding: 5px;
    color: #fff;
}

.footer-final .credits {
    padding: 20px;
    margin-right: 35px;
}

.footer-menu-active {
    color: #00BFFF
}